@page
@model BikeFitter.Pages.Bikes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bike</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bike.ModelName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bike.ModelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bike.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bike.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bike.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bike.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bike.Uri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bike.Uri)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bike?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
